/* 
Theme URI: https://sites.shocklogic.com/virtualogic/main/
Author: The Shocklogic team
Author URI: https://shocklogic.com/
Description: Events Catalogue 0.1. Minimal PHP 7.3.0, sugested 7.4
Requires at least: 5.3
Tested up to: 5.7
Requires PHP: 7.3.0
Version: 2.2
License:
License URI:
Text Domain: shocklogic.com
Tags:
*/

body {}